---
layout: none
permalink: /
toc: false
---
<!doctype html>
<!--
  Minimal Mistakes Jekyll Theme 4.12.0 by Michael Rose
  Copyright 2013-2018 Michael Rose - mademistakes.com | @mmistakes
  Free for personal and commercial use under the MIT license
  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE.txt
-->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    <!-- {% include masthead.html %} -->

    <div class="initial-content">
      {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
        {% include page__hero.html %}
      {% elsif page.header.video.id and page.header.video.provider %}
        {% include page__hero_video.html %}
      {% endif %}
      <div id="main" role="main">
        <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
          {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}
      
          <section class="page__content" itemprop="text">
            <center>
              <h1>BrightFaucher.me</h1>
              <a href="https://icons8.com"><img src="/assets/images/under-construction-1.png" width=100rem></a>
              <p>My website is currently under construction.<br>
              In the meantime, feel free to check out my public profiles:</p>
              <div style="display: inline-block; text-align: left;">
                <ul class="social-icons" style="list-style-type: none; padding: 0px">
                  {% if site.author.linkedin %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" style="text-decoration: none"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                  {% endif %}
                  {% if site.twitter.username %}
                    <li><a href="https://twitter.com/{{ site.twitter.username }}" style="text-decoration: none"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                  {% endif %}
                  {% if site.facebook.username %}
                    <li><a href="https://www.facebook.com/{{ site.facebook.username }}" style="text-decoration: none"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                  {% endif %}
                  {% if site.author.github %}
                    <li><a href="https://github.com/{{ site.author.github }}" style="text-decoration: none"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
                  {% endif %}
                  {% if site.author.gitlab %}
                    <li><a href="https://gitlab.com/{{ site.author.gitlab }}" style="text-decoration: none"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a></li>
                  {% endif %}
                  {% if site.author.bitbucket %}
                    <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}" style="text-decoration: none"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
                  {% endif %}
                </ul>
              </div>
            </center>
          </section>
        </article>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
